@import url('https://fonts.googleapis.com/css2?family=Exo&family=Space+Mono&display=swap');
/* 
font-family: 'Exo', sans-serif;
font-family: 'Space Mono', monospace; */

*{
    margin: 0;
    padding: 0;
    color: whitesmoke;

}

body { 
    background-color: rgba(35, 20, 62, 1);

}

.block-divider{
    width: 100vw;
    border-bottom: 10px dashed rgba(17, 109, 126, 1);
}

.flex-container{

    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(168, 47, 198, 1);
    border-bottom: 10px dashed rgb(22, 15, 36);
    


}

.big-text{
    font-family: 'Exo', sans-serif;
    font-size: 4rem;
    letter-spacing: 0.3rem;
    
}
.one{
    background-color:rgba(168, 47, 198, 1) ;
}
.two{
    background-color: rgba(35, 20, 62, 1) ;
    ;
}
.three{
    background-color: rgba(17, 109, 126, 1) ;
}
.four{
    background-color: rgba(43, 131, 11, 1) ;
}
.landing-selfie{
    border: 2px solid rgb(200, 125, 210);

    width: 13rem;
    height: 13rem;
    object-fit: cover;
    border-radius: 100%;

}
.image-container{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.container{
    width: 15rem;
    padding: 5rem;
    display: inline-block;
}
@keyframes typing {
    from { width: 0 }
    to { width: 80% }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: orange; }
}
.typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    width: 0;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: blink 0.8s infinite, typing 1s 1.3s steps(15, end) forwards;
}
/* this is where my timline css is  */
.header-text{
    text-align: center;
    padding: 30px;
    font-family: 'Exo', sans-serif;
    font-size: 3rem;
    letter-spacing: 5px;

}

.timeline-container{
    padding: 35px;
}

.timeline{
    background: rgba(35, 20, 62, 1);
    width: 100%;
    display: grid;
    grid-template-columns: 5px 1fr; /* two equal width columns and one with 3px  */
    grid-template-rows: auto;
    font-family:  'Space Mono', monospace;
    color: whitesmoke;

}
.timeline-middle{

    background:rgba(43, 131, 11, 1) ;
    padding: 10px;
    border-radius: 10px;
}

.timeline-marker{
    width: 55px;
    height: 55px;
    border-radius: 45px;
    background: rgb(89, 210, 44);
    transform: translateX(-50%) translateY(-35%) ;


}
.timeline-component{
    width: fit-content;
    height: fit-content;
    background: rgb(50, 29, 90);
    border: 3px solid rgb(66, 41, 112);
    border-radius: 35px;
    padding: 15px;
    margin: 55px;
}

.timeline-image{
    width: 32vw;
    height: 34vw;
    padding: 20px;
    object-fit: cover;
}
.timeline-image-b{
    width: 43vw;
    height: 46vw;
    padding: 20px;
    object-fit: cover;
}
img.timeline-image, img.hobby-image, img.hobby-image-2, img.timeline-image-b{
    border-radius: 30px;
}

.timeline-day{
    font-size: 2rem;
    font-family: 'Exo', sans-serif;
}

/* end of my timeline css */

.hobby-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    background-color: rgba(17, 109, 126, 1);
}

.hobby-item{
    display: flex;
    flex-flow: column wrap;
    background-color: rgb(24, 125, 143);
    border: 2px solid rgb(25, 135, 155);
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    margin: 15px;
    padding: 20px;
    font-family: 'Exo', sans-serif;
    letter-spacing: 0.1rem;


    
}
.hobby-image{
    width: 15rem;
    height: 15rem;
    padding: 20px;
    object-fit: cover;
    align-self: center;
    

}
.hobby-image-2{
    width: 15rem;
    height: 19rem;
    padding: 20px;
    object-fit: cover;
    
    

}
.hobby-image-panel{
    display: flex;
    justify-content: center;
    align-items: space-around;
}
.hobby-image-3{

    width: 12rem;
    height: 25rem;
    object-fit: cover;
    
    

}
.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(22, 15, 36);

    
}
.navbar a{
    font-family: 'Exo', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 5px;
    padding: 15px;
    text-decoration: none;
}
.sticky{
    z-index:1;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
a:hover{
    color: red;

}